{% include "header.html" with title="Vielen Danke für deine Anmeldung" %}

<div class="wrapper">
    <div class="section">
        <div class="main-content">
            <h1>Vielen Dank für deine Anmeldung bei +me!</h1>
            <p>
                Bitte klicke auf den folgenden Link, um deine Anmeldung zu
                bestätigen:<br/>
                <a id="best-link" href="{{ link }}">Hier geht's lang!</a><br/>
                Bei Fragen oder Problemen melde dich einfach bei uns unter<br/>
                <a id="mail-link" href="mailto:{{ support }}">{{ support }}</a><br/>
                <span id="team">Dein +me-Team</span>
            </p>

        </div>
    </div>
</div>

{% include "footer.html" %}
