{% include "header.html" with title="Dein Passwort wurde geändert" %}

<body>
<div class="wrapper">
    <div class="section">
        <div class="main-content">
            <h1>Wir haben dein neues Passwort gespeichert</h1>
            <p>Du kannst dich jetzt wieder in der App anmelden</p>

            <p>Bei Fragen oder Problemen melde dich einfach bei uns unter<br/>
                <a id="mail-link" href="mailto:{{ support }}">{{ support }}</a><br/></p>
        </div>
    </div>
</div>

{% include "footer.html" %}
